.cart_quantity {
  width: 4rem;
}

.cart_order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.cart_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.purchases {
  th {
    width: 33%;
  }
}
