.purchase_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchases_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
